@font-face {
    font-family: 'Graphik Web';
    src: url('stylesheets/fonts/Graphik-Regular-Web.eot');
    src: url('stylesheets/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
        url('stylesheets/fonts/Graphik-Regular-Web.woff') format('woff'),
        url('stylesheets/fonts/Graphik-Regular-Web.ttf') format('truetype'),
        url('stylesheets/fonts/Graphik-Regular-Web.svg#Graphik Web') format('svg');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('stylesheets/fonts/Gotham OpenType/Gotham-Black.otf');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('stylesheets/fonts/Gotham OpenType/Gotham-Bold.otf');
}


@font-face {
  font-family: 'Gotham-Medium';
  src: url('stylesheets/fonts/Gotham OpenType/Gotham-Medium.otf');
}


@font-face {
  font-family: 'Gotham-Medium';
  src: url('stylesheets/fonts/Gotham OpenType/Gotham-Medium.otf');
}

/*
The typeface Bebas has been chosen to be the title 1 font for print and web. Main headlines, key messages, promo blocks, and buttons can be designed using this typeface. We don Ìt recommend using the light version..
*/
@font-face {
  font-family: 'Bebas-Neue-Bold';
  src: url('stylesheets/fonts/bebas/BebasNeue Bold.otf');
}

@font-face {
  font-family: 'Bebas-Neue-Regular';
  src: url('stylesheets/fonts/bebas/BebasNeue Regular.otf');
}


@font-face {
  font-family: 'Bebas-Neue-Book';
  src: url('stylesheets/fonts/bebas/BebasNeue Book.otf');
}

.topbar{
    width: 99%;
    height: 100px;
    margin: 5px;
    background-color: #0869AE;
    display:flex;
    align-items:center;
}

span {
    padding: .5em .5em;
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: orange;

}


.title {
    font-family: 'Graphik Web';
    font-size: 50px;
    padding: 20px;
    text-transform: capitalize;
}

.modalcontent{
    padding:20px;
}

.modalcontent::first-letter{
    text-transform: capitalize;
}

h1 {
    font-weight: bolder;
    color: white;
    padding-left: 30px;
    padding-top: 20px;
}

.heading_container{
    display: inline-block;
    width: 95%;
}


h4 {
    font-weight: lighter;
    padding-top: -10px;
    margin-top: -30px;
    color: white;
    padding-left: 30px;
}

h5 {
    font-family: 'Graphik Web';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11pt;
    font-weight: normal;
    font-style: italic;
    color: black;
    text-align: center;
}

body {
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}



.bckgrnd_img{
    z-index:800;
    padding: 45px 20px 20px 440px;
    position: absolute;
    x:50;
    y:20;
    height: 100vh;
    top:0px;
    left: 0px;
     opacity: 0.4;
     display: none;
}

.top_img{
    z-index: 1200;
    x: 50;
    y: 20;
    width: 5%;
    display:inline-block;
    mix-blend-mode: screen;
    float: right;
    padding-right: 1%;
    padding-top: 0.5%;

}

.arrow{
    z-index: 1200;
    position: relative;
    display:none;
    margin: 0% 20%;
    x: 50;
    y: 20;
    width: 50%;
}

.info_text{
    width: 100%;
    padding:1% 0;
}

.hidden{
    display:none;
}

.image {
    z-index:1000;
}

.d3plus_data{
    fill:#cfdff9 !important;
    stroke: #fff !important;
    text-decoration-color: black !important;
}

.d3plus_data:hover{
    fill:#2869B2 !important;
}

.d3plus_label{
    font-size:1.6em !important;
    fill:black !important;
}

line{
    stroke:rgba(0,0,0,0);
}


#d3plus_tooltip_id_network{
    display: none;
}

.whole>text, .whole_main>text, .program_main>text{
    font-weight:bold;
}


.temp{
    display:none;
}

#viz {
    display:flex;
    justify-content:center;
    align-items:center;
}
@keyframes fade-in{
    from{opacity:0;}
    to{opacity:1;}
}


#tooltip {
    background-color: #E4E7EF;
    border-radius: 25px;
    width: 500px;

    position: absolute;
    x:0;
    y:20;
    top:200px;
    z-index: 900;
    padding: 35px;
    padding-top: 20px;
    -webkit-box-shadow: 11px 11px 70px -16px rgba(82,78,82,1);
    -moz-box-shadow: 11px 11px 70px -16px rgba(82,78,82,1);
    box-shadow: 11px 11px 70px -16px rgba(82,78,82,1);
    animation-name: fade-in;
    animation-duration: .5s;

}

#tooltip::first-letter{
    text-transform: capitalize;
}


#tooltip_main {
    background-color: #E4E7EF;
    border-radius: 25px;
    width: 500px;

    position: absolute;
    x:0;
    y:20;
    top:200px;
    z-index: 900;
    padding: 35px;
    padding-top: 20px;
    -webkit-box-shadow: 11px 11px 70px -16px rgba(82,78,82,1);
    -moz-box-shadow: 11px 11px 70px -16px rgba(82,78,82,1);
    box-shadow: 11px 11px 70px -16px rgba(82,78,82,1);

    animation-name: fade-in;
    animation-duration: .5s;
}


